[Unit]
Description=Copies database from pair master for failover

[Service]
EnvironmentFile=/etc/environment_failover
ExecStart=/app/bin/pg-failover-sync.sh $FAILOVER_MASTER $BACKUPS_USER $BACKUPS_PASSWORD

[X-Fleet]
MachineOf=postgres.service
